@import 'styles';

body{
  background-color:$background-light-color;

  .flashNotices{
    position:fixed;
    top:20px;
    right:20px;
    z-index: 99999999;
    width:35%;
    .alert{
      position:relative;
      text-align: center;
      background-color:$background-light-color;
      color: white;
    }
    .flashClose{
      color:white;
    }
  }
  /*LINKS*/
  a:link{
    color:#464646;
    text-decoration: none !important;
  }
  a:visited {
    color:#464646;
  }

  .sidebarNav{
    position:fixed;
    top:0px;
    left:0px;
    width:270px;
    height:100%;
    background-color:$secondary-color;
    z-index: 99999;
    .sidebarItem{
      height:60px;
      width:100%;
      padding-top:10px;
    }
    .sideBarMain{
      background-color:$primary-color;
      color:$secondary-color;
    }
    .sideBarFooter{

    }

    .sidebarText{
      font-size: 24px;
      height:100%;
      padding-left:10px;
    }
  }
  .content{
    padding-left: 290px;
  }
}
